<% if(alert) %>
    <div class="alert alert-danger"role="alert"><%= alert %></div>
<% end %>
<h1><%= t(:listing_order_types) %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t(:name) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_types.each do |order_type| %>
      <tr>
        <td><%= order_type.name %></td>
        <td><%= link_to t(:Show), order_type %></td>
        <td><%= link_to t(:Edit), edit_order_type_path(order_type) %></td>
        <td><%= link_to t(:Destroy), order_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_order_type), new_order_type_path %>
