<h1>Listing invoces</h1>

<table>
  <thead>
    <tr>
      <th>Invoced company</th>
      <th>Order type</th>
      <th>Shop</th>
      <th>Quantity</th>
      <th>Invoce number</th>
      <th>Invocedate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoces.each do |invoce| %>
      <tr>
        <td><%= invoce.invoced_company_id %></td>
        <td><%= invoce.order_type_id %></td>
        <td><%= invoce.shop %></td>
        <td><%= invoce.quantity %></td>
        <td><%= invoce.invoce_number %></td>
        <td><%= invoce.invocedate %></td>
        <td><%= link_to 'Show', invoce %></td>
        <td><%= link_to 'Edit', edit_invoce_path(invoce) %></td>
        <td><%= link_to 'Destroy', invoce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoce', new_invoce_path %>
