<% if(notice) %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t(:shop) %>: <%= @invoce.shop %></h3>
  </div>
  <div class="panel-body">
    <p>
      <strong><%= t(:invoiced_company) %>:</strong>
      <%= @invoce.invoced_company.name %>
    </p>
    <p>
      <strong><%= t(:order_type) %>:</strong>
      <%= @invoce.order_type_id %>
    </p>
    <p>
      <strong><%= t(:quantity) %>:</strong>
      <%= @invoce.quantity %>
    </p>
    <p>
      <strong><%= t(:address).capitalize %>:</strong>
      <%= @invoce.address %>
    </p>
    <p>
      <strong><%= t(:city) %>:</strong>
      <%= @invoce.city %>
    </p>
    <p>
      <strong><%= t(:invoice_date) %>:</strong>
      <%= @invoce.invocedate %>
    </p>
<%= link_to t(:Edit), edit_invoce_path(@invoce) %> |
<%= link_to t(:Back), invoces_path %>
  </div>
</div>