<p id="notice"><%= notice %></p>

<p>
  <strong>Id order type:</strong>
  <%= @invoce.id_order_type %>
</p>

<p>
  <strong>Id order type:</strong>
  <%= @invoce.id_order_type %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @invoce.shop %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @invoce.quantity %>
</p>

<p>
  <strong>Invoce number:</strong>
  <%= @invoce.invoce_number %>
</p>

<p>
  <strong>Invocedate:</strong>
  <%= @invoce.invocedate %>
</p>

<%= link_to 'Edit', edit_invoce_path(@invoce) %> |
<%= link_to 'Back', invoces_path %>
